body{
    background-color: rgb(126, 126, 126);
    padding: 0;
    margin: 0;
    font-family:courier,arial,helvetica;
}

.box1{
    top:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}